body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
	--primary-color: #f7f9fc;
	--secondary-color: #69bbd4;
	--tertiary-color: #1cb392;
      }
      
      * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
      }
      
      body {
	color: var(--tertiary-color);
	font-family: Helvetica, Arial, sans-serif;
	background-color: beige;
	margin: 15px;
      }
      
      
      /* Header styling */
      
      header {
	padding: 20px 35px;
	background-color: var(--tertiary-color);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: sticky;
	position: -webkit-sticky;
	top: 0;

      }
      header h1 {
	font-weight: bold;
	margin: 0;
	font-size: 36px;
	color: var(--primary-color);
      }
      
      header a {
	text-decoration: none;
	color: var(--primary-color);
      }
      
      header nav {
	margin: 7px 0;
      }
      
      header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	list-style: none;
      }
      
      header nav ul li a {
	padding: 10px 15px;
	font-weight: lighter;
	font-size: 1.5vw;
      }
      
      header nav ul li a:hover {
	background: var(--primary-color);
	color: var(--secondary-color);
	border-radius: 15px;
	text-shadow: none;
      }
 /* header styling ends*/     

/*About me styling section*/

      .aboutme {
	      margin: 20px;
	      flex: 1 ;
      }
      .aboutme h2{
	      margin: 0 5px;
	      font-size: 30px;
      }
      .about-me-section { 
	      width: 100%;
	      margin: 0px auto;
	      display: flex;
	      flex-wrap: wrap ;
	      justify-content: space-around;
      }

.intro {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	line-height: 1.4;
	font-size: 25px;
	max-width: 80%;
	text-align: justify;
        margin: 100px;
}
 .profilepic {
	 display: flex;
	 flex-wrap: wrap;
	 margin: 20px 20px 20px 0;
	 height: auto;
	max-width: 100%;
	display: flex;
   }
   .profilepic img {
	   object-fit: contain;
   }
      

/*about me styling ends*/


      
  /* mywork styling*/

      .mywork {
	       margin: 20 px;
	  }
      .myworkheading
      {
      color: var(--tertiary-color);
      font-size: 30px;
      }
      
      .firstproject {
	/*margin: 20px;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-direction: column;
      }
      .firstprojectimage {
	      display: flex;
	      flex-wrap: wrap;
	      max-width: 100%;
	      flex: 1;
	      margin: 20px 20px 20px 0;
      }

      .firstproject img:hover {
	max-width: 100%;
opacity: 50%;   
}
     .firstprojectimage img{
	     max-width: 100%;
	     object-fit: contain;
     }
     .firstprojecttext {
       display: flex;
       flex-wrap: wrap;
       flex: 2;
       line-height: 1.2;
       color: black;
       max-width: 100%;
       text-align: center;

     }
      
      .otherprojects{
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-between;
     width: 100%;
      }
 
      .otherproject {
	margin: 40px 40px 40px 0 ;
	display: flex;
	flex-wrap: wrap;	
	flex-direction: column;
	flex: 1;
	color:black;
	
	
      }


      .otherprojectimage {
	display: flex;
	flex: 1;
height: 400px;
width: 100%;
align-self: flex-start;
      }
      
      .otherprojectimage img{
	      max-width: 100%;
	      object-fit: contain;
      }
 .otherprojectimage img:hover {
	 opacity: 50%;
	 overflow: hidden;
 }
 .otherprojecttext{
	display: flex;
	flex-wrap: wrap;
	flex: 2;
	line-height: 1.2;
	font-size: 25px;
	max-width: 100%;
	text-align: justify;
      }


      
      /* contact info styling */
  .contact-info {
	  background-color: var(--primary-color);
	  display: flex;
	  flex-wrap: wrap;
	  justify-content:space-evenly;
	 margin-bottom: 15px;
	 font-size: 24px;
	 align-items: center;
  }
      

      .contact-info h3 {
	color: var(--secondary-color);
	font-size: 24px;
      }


       .contact-info a {
	color: var(--secondary-color);
      }
     
 


/* FOOTER styling START */
footer {
	   
	padding: 40px 35px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
      }
      
      footer h2 {
	color: var(--secondary-color);
	font-size: 30px;
	margin: 0;
      }
      


 /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER  */
      @media screen and (max-width: 980px) {
	header nav ul li a {
	  font-size :20px;
	}
      
}
      
 /* MEDIA QUERY FOR TABLETS AND SMALLER  */
      @media screen and (max-width: 768px) {
	.otherproject {
		flex-direction :column;
	  
         }   }
      
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER  */
      @media screen and (max-width: 575px) {
      
header nav ul a {
	flex-direction :row;
}
.otherprojects {
	flex-direction: column;
}
.contact-info {
	flex-direction: column;
	align-items: center;
}
}
navigation {
	
}